.search-box{
    display: flex;/*alianha o input e o botao lado a lado*/
    max-width: 30vw;
    border: 1px solid #333;
    border-radius: 30px;
    overflow: hidden; /* garante que nada saia das bordas*/
}
.search-box input{
     flex: 1;/*flex 1 informa 100% da largura do elemento pai*/
     border:none;
     padding:10px 15px;
}

.search-box button{
    background: #333;
    color: #fff;
    border: none;
    padding: 10 px 10 px;
    cursor: pointer;
}